# Binance API Configuration
BINANCE_FUTURES_BASE=https://fapi.binance.com
BINANCE_SPOT_BASE=https://api.binance.com

# Security
MASTER_KEY=rmt6pJk5a588VaKrdmd6qLYyB7UmeERB2raVx8O10m8uYsfClmeich1YFxsJnzhI
TOKEN_SECRET=pvFJQmyVJrYw99vRJLOuBwF6YDqbBGB6ODl2w8Nlxe1P3dXpyWmtMosCV6Q67DxM
APP_ENC_KEY=your_

# Trading Settings
ALLOW_LIVE_ORDERS=false

# App URL (Injected by AI Studio)
APP_URL=https://ais-dev-jafthw5bexcngfrbv7ftcq-572405254745.europe-west2.run.app/
